html, body, .wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
}

.github-link {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
}

.github-link a {
    position: relative;
    color: #c27a78;
    text-decoration: none;
}

.github-link:hover a {
    color: white;
}

.github-link:active a {
    top: 1px;
}

.wrapper {
    display: flex;
    background-color: #7b3230;
}

#lyrica {
    margin: auto;
    font-family: Verdana, "Microsoft YaHei", Arial, sans-serif;
    color: #c27c78;
}

#lyrica .lyrica-wrapper {
    position: relative;
    background-color: #3f0806;
    border-radius: 10px;
    opacity: 0.8;
}

#lyrica .lyrica-console {
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
}

#lyrica .lyrica-console .lyrica-volume {
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

#lyrica .lyrica-console .lyrica-volume .jp-mute {
    width: 20px;
    cursor: pointer;
}

#lyrica .lyrica-console .lyrica-volume .jp-volume-bar {
    width: 0;
    height: 3px;
    margin-left: 12px;
    background-color: #601b19;
    cursor: pointer;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

#lyrica .lyrica-console .lyrica-volume:hover .jp-volume-bar {
    width: 75px;
}

#lyrica .lyrica-console .lyrica-volume .jp-volume-bar .jp-volume-bar-value {
    height: 100%;
    background-color: #9c5150;
}

#lyrica .lyrica-console .lyrica-carousel {
    flex: 0 0 200px;
    position: relative;
    cursor: pointer;
}

#lyrica .lyrica-console .lyrica-carousel .lyrica-song-poster {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#lyrica .lyrica-console .lyrica-carousel .lyrica-lyrics {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    font-size: 0.75em;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#lyrica .lyrica-console .lyrica-carousel .active {
    color: white;
}

#lyrica .lyrica-console .lyrica-carousel.lyrica-lyrics-displaying .lyrica-song-poster {
    opacity: 0.2;
}

#lyrica .lyrica-console .lyrica-carousel.lyrica-lyrics-displaying .lyrica-lyrics {
    opacity: 1;
}

#lyrica .lyrica-console .lyrica-progress {
    flex: 0.1 0 auto;
    padding: 18px 12px 0 12px;
    font-size: 0.5em;
}

#lyrica .lyrica-console .lyrica-progress .jp-seek-bar {
    width: 90%;
    height: 3px;
    background-color: #601b19;
    margin-bottom: 5px;
    cursor: pointer;
}

#lyrica .lyrica-console .lyrica-progress .jp-seek-bar .jp-play-bar {
    height: 100%;
    background-color: #9c5150;
}

#lyrica .lyrica-console .lyrica-progress .jp-current-time {
    float: left;
}

#lyrica .lyrica-console .lyrica-progress .jp-duration {
    float: right;
}

#lyrica .lyrica-console .lyrica-display {
    flex: 2 0 auto;
    display: flex;
    color: white;
    padding-bottom: 12px;
}

#lyrica .lyrica-console .lyrica-display .lyrica-display-inner {
    margin: auto;
    text-align: center;
}

#lyrica .lyrica-console .lyrica-display .lyrica-display-inner .lyrica-artist {
    font-size: 0.75em;
    margin-top: 5px;
    font-family: Verdana, "SimSun", Arial, sans-serif;
    color: #c27c78;
}

#lyrica .lyrica-console .lyrica-control-bar {
    flex: 0 0 50px;
    background-color: #601b19;
    display: flex;
    position: relative;
}

#lyrica .lyrica-console .lyrica-control-bar .control-button {
    flex: 0 0 20%;
    text-align: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#lyrica .lyrica-console .lyrica-control-bar .control-button:hover {
    color: white;
}

#lyrica .lyrica-console .lyrica-control-bar .control-button:active svg {
    position: relative;
    top: 1px;
}

#lyrica .lyrica-console .lyrica-control-bar .control-button svg {
    height: 100%;
}

#lyrica .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra {
    position: absolute;
    width: 100%;
    height: 30px;
    top: -35px;
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lyrica .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra div {
    color: #601b19;
    cursor: pointer;
    position: relative;
}

#lyrica .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra div:hover {
    color: #c27c78;
}

#lyrica .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra div:active {
    top: 1px;
}

#lyrica .lyrica-state-looped .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra .lyrica-loop {
    color: #c27c78;
}

#lyrica .lyrica-state-shuffled .lyrica-console .lyrica-control-bar .lyrica-control-bar-extra .lyrica-shuffle {
    color: #c27c78;
}

#lyrica .lyrica-console .lyrica-footer {
    flex: 0 0 10px;
}

#lyrica .lyrica-panel-playlist, #lyrica .lyrica-panel-extra {
    position: absolute;
    width: 250px;
    height: 370px;
    top: 20px;
    box-sizing: border-box;
    background-color: #601b19;
    padding: 20px;
    font-size: 0.75em;
    display: none;
}

#lyrica .lyrica-panel-playlist {
    right: -250px;
    border-radius: 0 10px 10px 0;
}

#lyrica .lyrica-panel-playlist .jp-artist {
    display: none;
}

#lyrica .lyrica-panel-playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#lyrica .lyrica-panel-playlist li {
    position: relative;
    padding: 4px 0;
    border-top: 1px solid #9c5150;
    border-bottom: 1px solid #3f0806;
}

#lyrica .lyrica-panel-playlist li:first-child {
    border-top: none;
}

#lyrica .lyrica-panel-playlist li:last-child {
    border-bottom: none;
}

#lyrica .lyrica-panel-playlist li svg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: none;
}

#lyrica .lyrica-panel-playlist .jp-playlist .jp-playlist-current {
    color: white;
}

#lyrica .lyrica-panel-playlist a {
    color: #c27c78;
    text-decoration: none;
}

#lyrica .lyrica-panel-playlist a:hover {
    color: white;
}

#lyrica .lyrica-playlist-showing .lyrica-control-playlist {
    color: white;
}

#lyrica .lyrica-playlist-showing .lyrica-panel-playlist {
    display: block;
}

#lyrica .lyrica-extra-showing .lyrica-control-extra {
    color: white;
}

#lyrica .lyrica-extra-showing .lyrica-panel-extra {
    display: block;
}

#lyrica .lyrica-panel-extra {
    left: -250px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    overflow: hidden;
}

.ps .ps__rail-y {

}

.ps .ps__rail-y:hover {
    background: none;
}

.ps .ps__thumb-y {
    width: 5px;
    background-color: #3f0806;
}

.ps .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y {
    background-color: #3f0806;
    width: 8px;
}
