html, body, .wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    background-color: #7b3230;
    color: #c27a78;
    font-family: Verdana, "Microsoft YaHei", Arial, sans-serif;
    padding-top: 100px;
    box-sizing: border-box;
}

table {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

table tr {
    line-height: 25px;
}

table a {
    color: #c27a78;
}

table a:hover {
    color: white;
}

nav {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #c27a78;
}

nav a:hover {
    text-decoration: underline;
}

nav li.active a {
    color: white;
}
