<!DOCTYPE html>
<html>

<head>
    <title>Lyrica Config (Vue)</title>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='./css/style.css'>
    <script defer src='https://use.fontawesome.com/releases/v5.0.4/js/all.js'></script>
</head>

<body>

<div class='wrapper'>
    <nav>
        <ul>
            <li><a href="./index.html">jQuery</a></li>
            <li><a href="./react.html">React.js</a></li>
            <li class="active"><a href="./vue.html">Vue.js</a></li>
        </ul>
    </nav>
    <table id='app'>
        <thead>
            <tr><th>Song</th><th>Artist</th><th>MP3</th><th>Poster</th><th>Lyrics</th></tr>
            <tr><th>&nbsp;</th></tr>
        </thead>
        <tbody>
            <tr v-for="song in songs">
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td v-if="song.mp3"><a v-bind:href="song.mp3"><i class="fas fa-music"></i></a></td><td v-else><i class="fas fa-minus"></i></td>
                <td v-if="song.poster"><a v-bind:href="song.poster"><i class="fas fa-file-image"></i></a></td><td v-else><i class="fas fa-minus"></i></td>
                <td v-if="song.lyrics"><a v-bind:href="song.lyrics"><i class="fas fa-file-alt"></i></a></td><td v-else><i class="fas fa-minus"></i></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <script src="https://unpkg.com/vue"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

    let xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var app = new Vue({
                el: '#app',
                data: {
                    songs: xhr.response.playlist
                }
            });
        }
    };
    xhr.open('GET', './config.json');
    xhr.send();



    // $(document).ready(function () {
    //     $.getJSON('./config.json', function (data) {
    //         let $tbody = $('#config tbody');
    //         for (let i = 0; i < data.playlist.length; i++) {
    //             let item = data.playlist[i];
    //             let title = item.title, artist = item.artist;
    //             let mp3 = (item.mp3 ? '<a href="' + item.mp3 + '"><i class="fas fa-music"></i></a>' : '<i class="fas fa-minus"></i>');
    //             let poster = (item.poster ? '<a href="' + item.poster + '"><i class="fas fa-file-image"></i></a>' : '<i class="fas fa-minus"></i>');
    //             let lyrics = (item.lyrics ? '<a href="' + item.lyrics + '"><i class="fas fa-file-alt"></i></a>' : '<i class="fas fa-minus"></i>');
    //             $tbody.append('<tr><td>' + title + '</td><td>' + artist + '</td><td>' + mp3 + '</td><td>' + poster + '</td><td>' + lyrics + '</td></tr>')
    //         }
    //     });
    // });


</script>

</body>
